// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
// color-default = #111  by_blair_20160721
color-default = #333
color-grey = #939393
color-border = #ddd
color-background = white

// Fonts
// font-default = 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif  by_blair_20160721
// font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace, '华文中宋' by_blair_20160721

//font-default = 'PT Serif', Consolas, monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", '微软雅黑', STHeiti, "WenQuanYi Micro Hei", sans-serif
// font-default = "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif // blair bak 2018-10-25
// font-default = "Microsoft YaHei", "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif // blair bak 2018-10-25
font-default = "Microsoft YaHei", Verdana, sans-serif // by blair add 2018-10-25
//font-default = 'PT Serif', monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", '微软雅黑', STHeiti, "WenQuanYi Micro Hei", sans-serif
font-mono = "Source Code Pro", 'PT Serif', monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", '微软雅黑', STHeiti, "WenQuanYi Micro Hei", sans-serif

font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"
font-size = 16px
line-height = 1.4em
line-height-title = 1em

// Header
logo-size = 40px
subtitle-size = 16px

// Layout
block-margin = 50px
mobile-nav-width = 280px

// Media queries
mq-large = "screen and (min-width: 1400px)"  // yuan bak 1400px
mq-normal = "screen and (min-width: 840px)"
mq-mobile = "screen and (max-width: 839px)"
//mq-large = "screen and (min-width: 650px)" // blair add 2017-01-09
//mq-normal = "screen and (min-width: 600px)"
//mq-mobile = "screen and (max-width: 839px)"
