@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_dtysky/dtysky"

global-reset()

input, button
  margin: 0
  padding: 0
  font: font-size font-default
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 100%

body
  background: color-background
  font: font-size font-default
  -webkit-text-size-adjust: 100%

.outer
  clearfix()
  //max-width: 875px // by blair add 2018-01-03
  max-width: 893px   // by blair add 2019-02-17 
  //max-width: 800
  margin: 0 auto
  @media mq-mobile
    padding: 0 20px

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.logo
  width: 3.875em;
  height: 3.875em;
  background-image: url(images/logo.png)
  background-size: 3.875em 3.875em
  background-position: center
  background-repeat: no-repeat
  border-radius: 3.875em
  margin: 5px

.logo-text
  color: black
  font-size: 24px
  font-weight: 700
  margin: 25px 15px
  text-decoration: none
  background-image: none

@import "_extend"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/custom-layout"
@import "_partial/fancybox"
//@import "_highlight/index"


// blair add 2018-10-25
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
//	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
//body { // by blair add // 2018-10-25
	//line-height: 1; 
//}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}