// below 2020.08.30 add by jiangting
#menu {
    position: fixed;
    width: 190px;
    height: 200px;
    left: 1px;
    bottom: 0;
    background-color: #6ca82b;
    //background-color: rgb(255, 255, 255);
    z-index: 10;
}

#menu .icons .rss:before {
    content: "\E908";
}

//@media (min-width: 960px)
#menu, #menu-links {
    display: block;
}

#menu .name {
    //margin-top: 10px;
    //line-height: 35px;
    font-size: 24px;
    text-align: center;
}

#menu .home {
    margin-top: 5px;
    font-size: 20px;
}

//#menu .icons {
//    margin-top: 15px;
//}

#menu .icon {
    margin-left: 12px;
    width: 25px;
    font-size: 26px;
}

.icon-font {
    font-family: icomoon!important;
}

#menu a, #menu p {
    color: #000;
    text-align: center;
}

.icon-font {
    font-family: icomoon!important;
}

#menu .hr1, #menu .hr2 {
    border: 1px solid;
    color: #000;
    margin-top: 10px;
}

#menu .hr1 {
    width: 140px;
    margin-left: 10px;
}

#menu .hr2 {
    width: 120px;
    margin-left: 20px;
}

#menu .links-p {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}

#menu .links {
    margin-bottom: 5px;
    font-size: 16px;
}
#menu-links address {
  list-style: none;
  margin: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#menu .tags {
    padding-left: 20px;
    padding-right: 2px;
}

#menu .proj {
    padding-left: 20px;
    padding-right: 2px;
}

#menu .friend {
    padding-left: 2px;
    font-size: 16px;
    color: #000;
    text-align: right;
}

#menu .authors {
    padding-left: 2px;
    font-size: 16px;
    color: #000;
    text-align: right;
}

#menu a, #menu p {
    color: #000;
    text-align: center;
}
